/*reset及 clear*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,th,td,embed,object,button{margin:0;padding:0;font-size:12px;color:#565656;font-family:"宋体",Arial,Helvetica;word-wrap:break-word;}   
fieldset,img,abbr{border:0;}
address,caption,cite,code,dfn,em,th,var,i,b{font-weight:normal;font-style:normal;}
ul,ol{list-style:none;}
table{border-collapse:collapse;border-spacing:0;width:100%;}
a,a:link,a:visited,a:active{text-decoration:none;}
a:hover{text-decoration:underline;}
a:focus,input[type="text"]:focus,input[type="password"]:focus,textarea:focus{outline:none;}
textarea{resize:none;}
.cl0,.cl5,.cl10,.cl15,.cl20{clear:both;overflow:hidden;font-size:0;}
.cl0{height:0px;}.cl5{height:5px;}.cl10{height:10px;}.cl15{height:15px;}.cl20{height:20px;}.spbot{ border-bottom:1px dashed #d1d3cc; padding-top:10px; margin-bottom:10px;}
.wrap{width:980px;margin:0 auto;}
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}
.box{border:1px solid #dedddd;border-radius:3px;}
.fr{ float:right;}
/*颜色*/
.fblue, a.fblue:link, a.fblue:visited {color: #5EB4D8;}
.fgreen, a.fgreen:link, a.fgreen:visited {color: #438305;}
.fred, a.fred:link, a.fred:visited {color: #B0251E;}
/*字体大小*/
.fs12{font-size:12px;}.fs14{font-size:14px;}
/*头部背景*/
html{_background-attachment:fixed;_background-image:url(nothing.txt);}
body{background:url(../images/topbg.jpg) #fbfbfb repeat-x;height:100%;}
.zonghengbg{background:url(../images/headbackbg.jpg) no-repeat center top;padding-top:20px;}
/*头部导航*/
.help_logo{float:left;width:178px;padding-left:20px;}
.helplink{background: url(../images/help/helplink_bg.jpg) no-repeat;float: right;height: 34px;line-height: 34px;margin: 10px 20px 0 0;padding-left: 6px;width:600px;}
.helplink a{color:#4b380e;margin:0 5px;}
/*页尾*/
.foot{background:url(../images/foot_dian.gif) repeat-x 0 5px;padding:20px 0;position:relative;}
.foot p{text-align:center;line-height:24px;color:#3c3c3c;}
.foot p a{color:#3c3c3c;margin:0 6px;}
.foot p a:hover{color:#b12821;}
.foot .l_logo{background:url(../images/ico_all.gif) #fff no-repeat 0 -285px;width:15px;height:15px;position:absolute;left:486px;top:0;}
/*帮助main*/
.help{ background-color:#f6f3ec;}
.help_main{ width:717px; border-right:1px solid #e4e0d4; background:url(../images/help/main_bg.gif) no-repeat right top #fff; padding:30px 24px 24px 22px; float:left;}
.help .help_main h1{ font:normal 22px/28px "微软雅黑"; color:#b0251e; margin-bottom:35px;}
.help .help_main h2{ background:url(../images/help/titbg.jpg) no-repeat left top; height:31px; padding-left:10px; font:normal 14px/31px "微软雅黑"; color:#252525;}
.help .help_main .help_flash{ background:url(../images/help/repbg.gif) repeat-x; height:90px;}
.help_main .help_flash .ti_box{ width:170px; float:left; padding:22px 0 22px 8px; background:url(../images/help/paner.gif) no-repeat right bottom;}
.help_main .ti_box h3{ text-indent:-9999px; margin:0 0 12px 45px;}
.help_main .help_flash .bgnone{ background:none;}
.help_main .ti_box em{ background:url(../images/help/help.gif) no-repeat -163px 0; width:37px; height:35px; float:left; margin:8px 8px 0 0;}
.help_main .reader em{ width:40px; height:31px; background-position:-112px 0;}.help_main .myself em{ width:42px; height:36px; background-position:-158px -42px;}.help_main .vip em{ height:30px; width:35px; background-position:-110px -46px;}
.help_main .ti_box h3{ background:url(../images/help/help.gif) no-repeat -119px -88px; height:20px;}
.help_main .reader h3{ background-position:-119px -117px; margin-left:47px;}
.help_main .myself h3{background-position:-119px -145px; margin-left:47px;}
.help_main .vip h3{background-position:-129px -173px; margin-left:47px;}
.help_main .hot_questions,.help_main .quick_channel,.help_main .tel,.help_main .link{ padding:18px 0;zoom:1;}
.help_main .hot_questions .list li{ float:left; line-height:24px; padding:0 0 0 15px; width:335px;}
.hot_questions .list a:link,.hot_questions .list a:visited{ color:#747474;}
.quick_channel .channel{ float:left; width:215px; margin-left:15px; line-height:24px;color:#747474;} 
.quick_channel .channel h4{ font-size:12px; color:#b0251e; margin-left:5px;}
.quick_channel .channel a,.quick_channel .channel a:link,.quick_channel .channel a:visited{ margin:0 5px; color:#747474;}
.help_main .telus{ width:215px; float:left; margin:0 0 0 15px; line-height:30px;}
.help_main .tel h5{ font:bold 14px/24px "微软雅黑"; color:#06416f; margin-bottom:15px;}
.help_main .tel em.phone,.help_main .tel em.house,.help_main .tel em.letter{background:url(../images/help/help.gif) no-repeat 0 -38px; float:left; margin:6px 6px 0 0;}
.help_main .tel em.phone{ width:16px; height:15px;}
.help_main .tel em.house{ width:16px; height:16px; background-position:-21px -38px;}
.help_main .tel .telus a:link,.help_main .tel .telus a:visited{ color:#565656;}
.help_main .tel em.letter{ background-position:-43px -38px; width:15px; height:12px; margin-top:9px;}
.help_main .link a{ margin:0 45px 0 15px;}
.help_main .link a img{ border:1px solid #c6c6c6;}

/*问题展示*/
.help_main .answer_block{ padding:25px; max-height:600px; overflow-y:auto; min-height:550px;height:auto !important; height:550px;}
.cate_box h3 {color: #CC0000;cursor: pointer;font-size: 12px;line-height: 24px;margin: 0;padding: 7px 10px 8px;}
.cate_box h3 em.ques,.cate_box p em.answ{background:url(../images/help/help.gif) no-repeat 0 -165px; width:18px; height:16px; float:left; margin:4px 5px 0 0;}
.cate_box p,.xycon p{ line-height:26px; padding:0 0 0 10px;}
.cate_box p em.answ{ background-position:-25px -165px;}
.jftable{width:98%; margin:10px auto 0px;}
.jftable td,.jftable th{ color:#666; padding:3px; text-align:center;}
.level_sun,.level_star,.level_moon{background: url(http://static.zongheng.com/v2_0/images/leval_ico.gif) no-repeat scroll 0 0 transparent;display: inline-block;height: 15px;width: 15px;}
.level_star{background-position: -77px -85px;height: 16px;width: 16px;}
.level_moon{background-position: -36px -85px;height: 16px;width: 16px;}
.level_sun{background-position: 0 -85px;height: 16px;width: 16px;}
.xycon{ padding:25px;}
.vip_pg td {border: 1px solid #CCCCCC;padding: 3px 0;text-align: center; line-height:21px;}

/*帮助side*/
.help_side{ width:190px; margin-right:15px; float:right; padding-top:30px;}
.help_side .side_menu h2{ background:url(../images/help/help.gif) no-repeat 0 -198px; height:42px; width:123px; padding-left:55px; position:relative; font:normal 16px/42px "微软雅黑"; color:#000; cursor:pointer; margin:0 auto;}
.help_side .side_menu ul{ display:none;}
.help_side .side_menu ul li{ padding-left:60px;}
.help_side .side_menu h2.current{ color:#880b04;}
.help_side .side_menu ul{ padding:12px 0 20px; border:1px solid #dddddd; border-top:none; border-bottom-left-radius:8px; border-bottom-right-radius:8px; width:176px; margin:-3px auto 0; background-color:#fff;}
.help_side .side_menu ul li{ font:normal 14px/30px "微软雅黑"; background:url(../images/help/icon.gif) no-repeat 35px center;}
.help_side .side_menu ul li a:link,.help_side .side_menu ul li a:visited{ color:#000;}
.help_side .side_menu h2 em{ position:absolute; float:left;background:url(../images/help/help.gif) no-repeat; left:10px;top:9px;}
.help_side .side_menu h2 em.money{ background-position:0 -60px; width:28px; height:26px;}
.help_side .side_menu h2 em.reader{ background-position:-33px -60px; width:30px; height:28px;}
.help_side .side_menu h2 em.writer{ background-position:-68px -60px; width:25px; height:25px; top:10px;}
.help_side .side_menu h2 em.charge{ background-position:0 -92px; width:22px; height:24px; left:12px;}
.help_side .side_menu h2 em.zhzz{ background-position:-32px -92px; width:27px; height:27px;}
.help_side .side_menu h2 em.zht{ background-position:-32px -130px; width:27px; height:27px;}
.help_side .side_menu h2 em.zhxx{ background-position:-68px -130px; width:31px; height:29px; top:7px;}
